<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>descrription</title>
    <link rel="stylesheet" href="./assets/css/stylenavbarf.css">
    <link rel="stylesheet" href="./assets/css/description.css">
</head>

<body>
    <nav>

        <ul class="nav-links">
            <li>
                <a href="./index.html">acceuil</a>
            </li>
            <li>
                <a href="./mon_compte.html">mon compte</a>
            </li>

            <li>
                <a href="./index_connexion.html">connexion</a>
            </li>
            <li>
                <a href="./index_inscription.html">inscription</a>
            </li>
        </ul>
        <div class="burger">
            <div class="line1"></div>
            <div class="line2"></div>
            <div class="line3"></div>

        </div>
        <a href="./index.html">
            <div class="logo">
                <img src="./assets/img/logo/shop_tes_piéces_1_-removebg-preview(1).png" alt="logo">
            </div>
        </a>
        <div class="panier">
            <p>&#128722</p>
        </div>
        <ul class="menu-panier">
            <li>
                <a href="./panier.html">Panier</a>
            </li>
        </ul>

    </nav>
    <main>

        <section>
            <div class="container">

                <div class="titre">
                    <img src="./assets/img/amortiseur/D2.jpg" alt="Kit frein">
                    <div class="text">
                        <h3>Kit frein</h3>
                        <p class="prix">2000£</p>
                    </div>
                </div>
                <div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed aut, harum distinctio hic
                            veniam perferendis animi nam! Delectus nihil optio voluptas fuga quidem, repudiandae veniam
                            repellat! Quod ab suscipit deserunt.
                        </p>
                    </div>

                    <div class="caracteristique">
                        <h4>Caractéristiques</h4>
                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. In cupiditate numquam, ea dolorem,
                            voluptas, eius iure optio ab delectus placeat modi? Nihil delectus iste molestiae
                            reiciendis. Unde aliquid doloribus labore!
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                        </p>
                    </div>
                    <div class="contaire-bouton">
                        <a href="#">
                            <button>Ajouter au panier</button>
                        </a>
                    </div>

                </div>

            </div>

        </section>
    </main>





    <footer>

        <div class="copy">
            <p>
                mention legale
            </p>
        </div>
        <div class="contact">

            <p>
                Shop tes piéces <br>
                Adresse: 191 Route de rouen Amiens <br>
                Numero: 06 06 06 06 06 <br>
                Email: antoinedelarue07@gmail.com <br>
            </p>



        </div>
    </footer>
</body>
<script src="./assets/js/script.js"></script>

</html>