body {
    overflow-x: hidden;
    min-width: 360px;
    --s: 30px; /* control the size */

    --c: #0000, #292d32 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
 
}
    main { min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
    /* height: 100%; */
    /* background-image: url(/assets/img/image_choix_prod.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* height: 100%; */
}


h3 {
    text-align: center;
    /* margin: 1rem ; */
    color: #febc0c;
    font-size: 4rem;
    text-shadow: #292d32 2px 4px 4px;
}
.modele{
    text-align: center;
    margin-bottom: 1rem;
    color: #febc0c;
    font-size: larger;
    background: #7b39eb;
    margin: auto;
    padding: 5px;
    width: 15rem;
    border-radius: 25px;

}

.pieces {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin: 1rem;

}

.type {
    background-color: #7b39eb;
    border-radius: 10px;
    padding: 0.5rem;
    text-align: center;
    box-shadow: #292d32 0 6px 8px;
}
.type p{
    font-size: larger;
    margin-bottom: auto;
color:#febc0c;
    padding: 10px;
    text-align: center;
}
.type:hover {    
    transition: transform 0.3s;
    transform: scale(1.02);
    opacity: 1;
}
a{
    text-decoration: none;
    transition:transform 0.3s;
    opacity: 9;
}

.type img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    box-shadow: #292d32 2px 6px 6px;
}

