footer {
    display: flex;
    justify-content: space-between;
  
    background-color: #7b39eb;
    margin-top: 5%;
    color: #febc0c;
  
  }
  
  .copy {
    margin: auto;
    display: flex;
    padding: 1rem;
    font-size: smaller;
    flex-direction: column;
  }
  
  .contact {
    display: flex;
    padding: 1rem;
    text-align: right;
    font-size: smaller;
  }
  .copy a{
    text-decoration: none;
    color: red;
    display: flex;
    justify-content:center;
    text-align: center;
    
  }
  