@font-face {
  font-family: Copperplate-Gothic;
  src: url('./font/Copperplate-Gothic-Std-30-BC.ttf');
}

* {
  font-family: Copperplate-Gothic;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* width: 100%; */
  overflow-x: hidden;


}

body {
  --s: 30px;
  /* control the size */

  --c: #0000, #292d32 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));


  min-width: 360px;
  text-shadow: 1px 1px 1px #292d32;

}




/* ---------------main offre----------------- */


.img-offre img {
  border: 1px solid #292d32;
  width: 100%;
  height: auto;
  display: flex;
  
}

.text-offre {
  display: flex;
  text-shadow: none;
  font-size: small;
  /* height: 1.2rem; */
  color: #7b39eb;
  background: #febc0c;
  opacity: 0.9;
  
  white-space: nowrap;
}

.text-offre p {
  animation: scrollText 10s linear infinite;
}

@keyframes scrollText {
  0% {
    transform: translateX(450%);
    /* Commence hors écran à droite */
  }

  100% {
    transform: translateX(-100%);
    /* Finit complètement à gauche */
  }
}

/* ----------------------main meilleur vente-------------- */
.meilleur-vente {

  display: grid;
  margin: 0 auto;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;
  width: 95%;


}


.vente-titre {
  border-top: 2px solid #292d32;
  color: #febc0c;
  background-color: #7b39eb;
  text-align: center;
  padding: 15px;

}

.vente {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  height: auto;
  background-color: #7b39eb;
  border: 1px solid #7b39eb;
  padding: 1px;
  border-radius: 10px;
  text-align: center;
  color: #febc0c;

}

.vente p {
  font-size: medium;
  padding: 10px;
}

.vente img {
  object-fit: cover;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.vente button {
  background-color: #D9D9D9;
  text-align: center;
  font-size: medium;
  padding: 3px;
  margin: 5px;
  border-radius: 50px;
  box-shadow: #292d32 1PX 1PX;
  border: none;
  transition: transform 0.3s;
}



.vente button:hover {
  transform: scale(1.05);
}

.vente button a {
  text-decoration: none;

}

/* ----------------------selction modele ------------------------- */

.voiture {
  width: 100%;
  /* display: flex; */
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  padding: 0.5rem;
  color: #292d32;
  margin-top: 1rem;
  background: linear-gradient(145deg, #7b39eb, #9d70eb);
}

.img-voiture:nth-child(1) {

  color: #febc0c;
  background:transparent;
  border: none;
  padding: 1rem;
}

.img-voiture {
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
  color: #7b39eb;
  height: 100%;
  width: 100%;
  text-decoration: none;
 
}

.img-voiture div img:hover {
  transition: transform 0.2s;
  transform: scale(1.05);
}



@media screen and (min-width: 768px) {


  /* -----------------main---------------------------------- */
  .img-offre {
    background-color: #b6b6b6;
  }

  .img-offre img {
    /* border: 1px solid #292d32; */
    /* width: 80%; */
    display: flex;
    margin: auto;
  }

  .text-offre {
    font-size: medium;
  }

  @keyframes scrollText {
    0% {
      transform: translateX(350%);
      /* Commence hors écran à droite */
    }

    100% {
      transform: translateX(-200%);
      /* Finit complètement à gauche */
    }
  }

  .meilleur-vente {

    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    width: 100%;


  }

  .img-voiture:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .voiture {
    width: 100%;
    display: flex;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0.5rem;
    color: #292d32;
    margin-top: 1rem;
    background-color: #7b39eb;
  }
}