 @font-face {
  font-family:Copperplate-Gothic ;
  src: url('/assets/font/Copperplate-Gothic-Std-30-BC.ttf');
} 
*{
  font-family: Copperplate-Gothic;
  overflow-x: hidden;

  padding: 0;
  margin: 0;
  box-sizing: border-box;

font-size: 20px;

}

body {
  overflow-x: hidden;
  min-width:360px;
 text-shadow: #292d32 1px 1px 1px;
}


/* ---------------head nav----------------- */
nav {
  display: flex;
  justify-content:space-between ;

  align-items: center;
  min-height: 8rem;
  /* background-color: #7b39eb; */
  background: linear-gradient(145deg,#9d70ebe8, #7b39eb, #9d70eb);

}

nav div {
  margin: 3vh;
}

.logo img {
  display: flex;
  height: 4REM;
}
/* ------------------menu acceuil----------------------- */
.nav-links li {
  list-style: none;
  opacity: 0;
}

.nav-links a {
  color: #febc0c;
  text-decoration: none;
}

.burger div {
  width: 25px;
  height: 3px;
  margin: 5px;
  background-color: #febc0c;
  transition: all 0.3s ease;
}
.nav-links {
  z-index: 1;
  justify-content: space-around;
  position: absolute;
  border-right: 1px solid #7b39eb;
  border-bottom: 1px solid #7b39eb;
  border-bottom-right-radius: 10px;
  left: 40%;
  height: 50vh;
  top: 8rem;
  background: #292d32;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  transform: translateX(-200%);
  transition: transform 0.5s ease-in;
  
}

.burger {
  display: block;
  cursor: pointer;
}

.nav-active {
  transform: translateX(-100%);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }

}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);

}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* --------------------menu panier----------------------- */


.panier p {
  font-size: 25px;
}
.panier a{
  text-decoration: none;
}
.panier{
  text-decoration: none;
  margin: 10px;
  display: block;
  cursor: pointer;
}




@media screen and (min-width: 768px) {
  body{
    font-size: larger;
  }

 */
  
  nav div {
    margin: 6vh;
  }
  


   /*-------------menu accueil---------------------------  */
   .burger div {
    width: 35px;
    height: 5px;
    margin: 4px;
    
  }
  .nav-links {
    top: 8REM;
    width: 40%;
    left: 40%;
    }

    .toggle .line1 {
      transform: rotate(-45deg) translate(-7px, 6px);
    
    }
    .toggle .line3 {
      transform: rotate(45deg) translate(-7px, -6px);
    }

    /* --------------------panier----------------------- */
    .panier p{
      font-size: 2REM;

    }
  }