body{
    --s: 30px;
    /* control the size */
  
    --c: #0000, #292d32 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
   
}

/* #7b39eb
#febc0c
#292d32 */



main{
    margin: 1rem;
    min-height: 80vh;
    
}
h3{
    
    font-size: 1.5rem;
    text-align: center;
    margin-top: 2rem;
    background-color: #7b39eb;
    color: #febc0c;
    margin: auto;
    padding:5px  ;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #131313;

}
.message{
    background: linear-gradient(145deg, #d4d4f8, #ebebeb);
    height: 50vh;
    text-align: center;

    border-radius: 15px;
   
}

.bouton{
    display: flex;
    justify-content: end;
    margin: 1rem;
    gap: 1rem;
   
}
.bouton button{
    background-color: #7b39eb;
    color: #febc0c;
    padding:3px 15px;
    border-radius: 25px;
    box-shadow: 2px 2px 2px #131313;
    transition: background-color 0.3s, color 0.3s; 
    cursor: pointer;
}
.bouton button:hover{
    transform: scale(1.01);
    background-color: #febc0c;
    color: #7b39eb;
}

#supp{
   
    border-radius: 5px;
    box-shadow: 1px 1px 1px #292d32;
    font-size: 1.2rem;
    text-decoration: none;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    margin-bottom: 1rem;
}
#supp_2{
    display: none;
}
.contnaire-panier{
    /* background: linear-gradient(145deg, #e6e6fa, #ffffff); */
    /* background-color: #d2d2d2; */
    border-radius: 15px;
  
    padding: 0.5rem;
}
.produit{
    background: linear-gradient(145deg, #e6e6fa, #ffffff);
    background-color: #d2d2d2;
    padding: 0.5rem;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #7b39eb;
    border: #7b39eb solid 1px;
    margin-bottom: 1rem;
}
.image{
    display: flex;
    flex-direction: row-reverse;
    /* align-items: center; */
    justify-content: space-between;
}
.image h5{
    font-size: x-large;
    color: #7b39eb;
    margin-right: 2rem;
}
.image img{
    /* justify-content: center;
    align-self: center; */
  margin-right: 10px ;
    width: 150px;
    height: 150px;
    border-radius: 15px;
    border: #7b39eb solid 1px;
    box-shadow: 2px 2px 2px #7b39eb;
}
.quantite-prix{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.quantite{
    text-align: center;   
}
.quantite p{
    font-size: larger;
}
.quantite form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap :0.5rem;
}
.quantite input[type="number"]{
    width: 2.5rem;
    height: 30px;
    text-align: center;
    text-decoration: none;

}
.quantite button {
    width: 30px;
    height: 30px;
   align-self: center;
    justify-content: center;
    border-radius: 10px;
    font-size: larger;
    box-shadow: #7b39eb 1px 1px 1px;
    background: transparent 0;
}
.supprimer{
    text-align: right;
    
}
.prix{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.prix h6{
    font-size: larger;
 
}
.prix p{
    color: #7b39eb;
}

.total{
    display: flex;
    flex-direction: column;
    background: #7b39eb;
    align-items: center;
    color: #febc0c;
   width: 25%;
   margin: auto;
   padding: 1rem;
   border-radius: 25px;
   box-shadow: 2px 2px 2px #131313;
  
}
.total p{
    font-size: 1rem;
}

@media screen and (min-width: 768px) {
    .produit{
        flex-direction: row;
        justify-content: space-between;
     
       
      
    }
    .info{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    .image{
      display: flex;
      flex-direction: column;
      width: 40%;
    }
    .quantite-prix{
        display: flex;
        flex-direction: row;
        gap: 3rem;
     
       
    }


}