body{
    background: #D9D9D9;
    font-size: medium;
    overflow-x: hidden;
    min-width:360px;
    --s: 30px;
    /* control the size */

    --c: #0000, #292d32 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
        var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
        var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

}

form{
    display:flex ;
    flex-direction: column;
    width: 70%;
    margin:10% auto 10%;    
    background-color: #7b39eb;
    padding:  10%;
    border-radius: 10px;
  
}


form h2{
    color: #febc0c;
    text-align: center;
    justify-content: space-around;
    margin-bottom: 3rem;
}
label{
    opacity: 0;
}
 .inputs{
   
    display: flex;
    flex-direction: column;

}
.inputs input{
    padding: 0.5rem;
    border-radius: 5px;
    border: none;    
    /* margin-top: 1rem; */
    background-color:  #D9D9D9;
    outline: none;

}
.inputs input:focus {
    background-color: #f7f7f7;
    box-shadow: 0 0 5px #febc0c;
}
form p{
    margin-top: 2rem;
    text-align: center;
}
.inscription{
    color: #D9D9D9;
}
.inscription a{
    color: #febc0c;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
form button{
    padding: 0.5rem 2rem;
   
    border: none;
    border-radius: 5px;
    outline: none;
    background-color:#febc0c ;
    color: #7b39eb;
    cursor: pointer;
    transition:transform 0.3s;
}
form button:hover {    
    transform: scale(1.05);
}

@media screen and (min-width: 768px) {
    *{
        font-size: 20px;
    }
    
    form {
        width: 60%;
        margin:5% auto 10%;
        
    }

    form h2 {
        font-size: 2rem;
    }
    .inputs input{
        padding: 0.5rem;
        border-radius: 5px;
      
       
    
    }
} 